$fontex_Anta: 'Anta';
$fontex_Josefin: 'Josefin Sans';

.container {
  padding-left: 286px;
  .why__me {
    h2 {
      font-family: $fontex_Anta;
      font-size: 48px;
      color: #89bcd9;
      font-size: 60px;
      font-weight: 400;
      text-align: center;
      margin: 0;
    }
  }
}

.me_content {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: $fontex_Josefin, sans-serif;
  color: #f8f5ec;
  padding: 0 40px;
  span {
    font-family: $fontex_Josefin, sans-serif;
    color: #89bcd9;
  }
}

.location {
  position: relative;

  .elp2 {
    width: 74px;
    height: 64px;
  }
  .elp1 {
    position: absolute;
    width: 20px;
    top: 40px;
    left: 25px;
    z-index: 1;
  }

  p {
    font-size: 30px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}
.mobile_content {
  width: 350px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.log_img {
  display: none;
}

.talk__btns {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: flex-end;

  cursor: pointer;

  .btn__talk {
    width: 134px;
    height: 48px;
  }

  .btn__talk_hover {
    width: 134px;
    height: 48px;
  }
}

.talk__btns img {
  width: 100%;
  display: block;
}

.btn__talk {
  position: relative;
  z-index: 1;
}

.btn__talk_hover {
  position: absolute;
  top: 0;
  width: 134px;
  height: 48px;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.25s ease;
}

.talk__btns:hover .btn__talk_hover {
  opacity: 1;
}

.talk__btns:hover .btn__talk {
  opacity: 0;
}

@media (max-width: 1250px) {
  .container {
    padding: 10px;
  }
}

@media (max-width: 800px) {
  .container {
    padding-left: 10px;
  }
  .me_content {
    width: fit-content;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 0;
  }
  .mobile_content {
    width: auto;
    .location {
      display: none;
    }
    .log_img {
      display: block;
      width: 20px;
      height: 20px;
    }
  }
}
