$font-anta: 'Anta';
$font-josefin: 'Josefin Sans';

.mobile_overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: grid;
  place-items: center;
  background: transparent;
  width: 100%;
  height: 20px;
}

.menu_bar {
  display: none;
  background: #89bcd9;
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  .ham-menu {
    width: 30px;
    height: 32px;
    padding: 20px;
  }

  .logo-img {
    width: 100px;
    height: 40px;
    transition: transform 0.3s ease;
    transform-origin: center;

    &:hover {
      transform: scaleX(1.15);
    }
  }

  .logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.1;
  }

  .logo-name {
    font-family: $font-anta;
    font-size: 12px;
    font-weight: 400;
    color: #f8f5ec;
    letter-spacing: 0.5px;
  }

  .logo-role {
    font-family: $font-josefin;
    font-size: 11px;
    font-weight: 300;
    color: #262e34;
  }
}
.content_hidden {
  display: none;
}

.shape_img {
  position: relative;
  width: 353px;
  height: 370px;
  display: grid;
  place-items: center;
  display: nonedc;
}

.shape_menu {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.nav__links {
  position: absolute;
  inset: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  transform: translateY(-6px);
}

.nav__links a {
  text-decoration: none;
  font-family: $font-josefin;
  font-size: 22px;
  font-weight: 400;
  color: #262e34;
  transition: color 0.25s ease;
}
.nav__links a:hover,
.nav__links a.active {
  color: #f8f5ec;
}

.lang {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  gap: 12px;

  font-family: $font-josefin;
  font-size: 18px;

  .de {
    color: #262e34;
    transition: color 0.25s ease;
    cursor: pointer;
  }

  .lip {
    position: relative;
    width: 58px;
    height: 28px;
    cursor: pointer;
  }

  .en-ell {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }

  .en {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;

    color: #f8f5ec;
    font-size: 18px;
    font-family: $font-josefin;
    pointer-events: none;
    transition: color 0.25s ease;
  }

  &:hover {
    .de {
      color: #f8f5ec;
    }

    .en {
      color: #262e34;
    }
  }
}

@media (max-width: 700px) {
  .shape_img {
    width: 305px;
    height: 340px;
  }
}

@media (min-width: 801px) {
  .mobile_overlay {
    display: none;
  }
}
