$fontex_Anta: 'Anta';
$fontex_Josefin: 'Josefin Sans';
.hero {
  height: auto;
  display: flex;
  align-items: center;
  height: 650px;
}
.hero__canvas {
  width: 100%;
  max-width: 1214px;
  margin: 0 auto;
  background: #262e34;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.hero__content {
  padding-left: 100px;
}
.btn-down {
  display: flex;
  justify-content: center;
}

.hero__content h1 {
  margin: 0;
  font-family: $fontex_Anta;
  font-size: 64px;
  letter-spacing: 2px;
}

.social {
  display: flex;
  justify-content: end !important;
}

.hero__circle {
  position: relative;

  .shape {
    top: 120px;
    position: absolute;
    width: 483px;
    transition: opacity 0.8s ease;
    rotate: -45deg;
  }

  .hover {
    top: 100px;
    width: 485px;

    rotate: -40deg;
    opacity: 0;
  }

  &:hover {
    .hover {
      opacity: 1;
    }
  }

  .yusra {
    position: relative;
    z-index: 2;
    width: 435px;
    height: 683px;
    top: 50px;
    left: 27px;
  }
}

.hero__content .role {
  padding-top: 12px;
  font-family: $fontex_Josefin;
  font-size: 22px;
  letter-spacing: 3px;
}

@media (max-width: 1124px) {
  .hero {
    height: auto;
  }
  .hero__content {
    padding-left: 20px;
  }
  .hero__content h1 {
    font-size: 48px;
  }

  .hero__circle {
    width: 350px;
    .yusra {
      width: 300px;
      height: 340px;
    }

    .hover,
    .shape {
      width: 305px;
    }
  }
}

@media (max-width: 768px) {
  .hero__circle {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .hero__canvas {
    flex-direction: column;
    gap: 40px;
    padding: 20px 0;
  }
  .social {
    display: none;
  }

  .hero__content .name {
    font-size: 38px;
  }
  .hero__content .role {
    padding-top: 20px;
    margin: 0;
    font-size: 20px;
    letter-spacing: 0px;
  }
  .btn-down {
    margin-top: 20px;
  }

  .hero__circle {
    .yusra {
      width: 220px;
      left: 0;
    }

    .hover,
    .shape {
      width: 215px;
      top: 15px;
    }
  }
}
