$fontex_Anta: 'Anta';
$fontex_Josefin: 'Josefin Sans';
.my__projects {
  padding-left: 286px;
  h2 {
    font-family: $fontex_Anta;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    color: #89bcd9;
  }
  button {
    margin: 20px;
    border: none;
    font-size: 30px;
    background: transparent;
    color: #89bcd9;
    width: 248px;
    height: 97px;

    &:hover {
      cursor: pointer;
      color: #f8f5ec;
      background: #89bcd9;

      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
}

.main_content {
  width: 100%;

  .btns {
    display: flex;
    gap: 16px; // optional
  }

  button {
    border: none;
    font-size: 30px;
    background: transparent;
    color: #89bcd9;
    width: 248px;
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      color: #f8f5ec;
      background: #2d383f;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  .info_card {
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    padding-bottom: 20px;
    background: #2d383f;
    .content_card {
      width: 550px;

      p {
        font-family: $fontex_Josefin;
        font-size: 18px;
        color: #f8f5ec;
        margin-block-start: 0;
        margin-block-end: 0;
      }
      h4 {
        font-family: $fontex_Josefin;
        font-size: 28px;
        color: #f8f5ec;
      }
    }

    .title_card {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 20px;
    }

    .pro_image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .tech_content {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        img {
          width: 38px;
          height: auto;
        }
      }
    }
  }
}
