<div class="footer">
  <div class="legel_notes">
    <p>Legal notice</p>
    <p>© Eid Aden 2024</p>
  </div>
  <div class="logo">
    <img src="images/ch-logo.png" alt="Logo" class="logo" />

    <div class="logo-text">
      <span class="logo-name">E. Aden</span>
      <br />
      <span class="logo-role">Developer</span>
    </div>
  </div>

  <div class="social_icons">
    <div class="icon github">
      <img src="foot_img/github.png" alt="github" class="icon-default" />
      <img src="foot_img/github_h.png" alt="github hover" class="icon-hover" />
    </div>

    <div class="icon mail">
      <img src="foot_img/mail.png" alt="mail" class="icon-default" />
      <img src="foot_img/email_h.png" alt="mail hover" class="icon-hover" />
    </div>

    <div class="icon link">
      <img src="foot_img/link.png" alt="link" class="icon-default" />
      <img src="foot_img/link_h.png" alt="link hover" class="icon-hover" />
    </div>
  </div>
</div>
