$fontex_Anta: 'Anta';
$fontex_Josefin: 'Josefin Sans';

.skills__main {
  padding-left: 286px;
  h2 {
    font-family: $fontex_Anta;
    font-size: 48px;
    color: #89bcd9;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    margin: 0;
  }

  .skills_icons {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 60px;
    .section_one {
      display: flex;
      justify-content: stretch;
      align-items: center;
      gap: 60px;
    }
    .section_two {
      display: flex;
      justify-content: stretch;
      align-items: center;
      gap: 60px;
    }
    .section_three {
      display: flex;
      justify-content: stretch;
      align-items: center;
      gap: 60px;
    }
  }
}

.shape {
  position: relative;
  width: 380px;
  height: 480px;
  .shape_hover {
    position: absolute;
    top: 0;
    width: 380px;
    height: 380px;
    object-fit: contain;
  }

  .shape_bg {
    position: absolute;
    top: 0;
    width: 380px;
    height: 380px;
    z-index: 1;
  }

  .shape_hover {
    z-index: 2;
    opacity: 0;
    transform: scale(0.95);
    transition:
      opacity 0.4s ease,
      transform 0.4s ease;
  }

  &:hover {
    .shape_hover {
      opacity: 1;
      transform: scale(1);
    }
  }
  .mot_text {
    padding-left: 60px;
    padding-top: 60px;

    p {
      font-size: 18px;
      font-family: $fontex_Josefin, sans-serif;
      color: #fffdfd;
    }

    .coming_cours {
      width: 150px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 20px;
    }
  }
}

.mobile_content {
  display: none;
}

@media (max-width: 1290px) {
  .skills__main {
    padding: 20px;
  }
  .skills_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
  }
}

@media (max-width: 600px) {
  .skills_icons {
    .allicons {
      .width_mobile {
        width: 40px;
        height: 45px;
      }
      .section_three,
      .section_one,
      .section_two {
        gap: 12px;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .shape {
    display: none;
  }
  .mobile_content {
    width: 343px;
    height: 147px;
    display: flex;
    justify-content: center;
    align-items: center;

    .text_mobile_content {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      .title_mobile {
        font-family: $fontex_Josefin;
        color: #89bcd9;
        margin-block-start: 0;
        margin-block-end: 0;
        width: 100%;
      }
      .text {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        p {
          width: 214px;
          font-size: 16px;
          font-family: $fontex_Josefin;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .mobile_content {
    width: auto;
  }
  .text {
    flex-direction: column;
  }
}
