$fontex_Anta: 'Anta';
$fontex_Josefin: 'Josefin Sans';

.main__container {
  height: auto;
  min-height: 500px;
  padding-left: 150px;
  h3 {
    font-family: $fontex_Josefin;
    color: #89bcd9;
    text-align: center;
  }
  .shape_content {
    position: relative;
    width: 300px;
    height: 300px;

    .tas-title {
      position: absolute;
      left: 105px;
      top: 50px;
      h4 {
        font-family: $fontex_Josefin;
        font-size: 26px;
        font-weight: 700;
        width: 250px;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
      }
      p {
        font-family: $fontex_Josefin;
        font-size: 18px;
        color: #f8f5ec;
        span {
          font-family: $fontex_Josefin;
          font-size: 18px;
          color: #89bcd9;
        }
      }
    }
    .text_test {
      position: absolute;
      top: 180px;
      left: 80px;
      width: 292px;
      p {
        font-family: $fontex_Josefin;
        font-size: 18px;
        color: #f8f5ec;
      }
    }

    img {
      position: absolute;
      inset: 0;
    }

    .el-img {
      z-index: 2;
    }

    .h-img {
      z-index: 1;
      opacity: 0;
    }

    &:hover {
      .el-img {
        opacity: 0;
      }

      .h-img {
        opacity: 1;
      }
    }
  }

  .shape_cards {
    display: flex;
    justify-content: start;
    gap: 120px;
  }
}

.mobile_title {
  display: none;
  h4 {
    font-family: $fontex_Josefin, serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    color: #89bcd9;
    width: auto;
    text-align: center;
    margin: 0;
  }

  p {
    font-family: $fontex_Josefin, serif;
    color: #f8f5ec;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    width: auto;
    text-align: center;
    margin: 0;
  }
}

@media (max-width: 1050px) {
  .shape_cards {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .shape_content {
    scroll-snap-align: start;
    flex: 0 0 auto;
  }
  .main__container {
    padding-left: 20px;

    .shape_cards {
      gap: 50px;
      overflow-x: auto;
    }
    .tile_desktop {
      display: none;
    }
    .mobile_title {
      display: block;
    }

    .shape_content {
      width: 290px;
      height: 290px;

      .el-img,
      .h-img {
        width: 250px;
        height: 250px;
      }

      .tas-title {
        left: 60px;
        width: 150px;

        h4 {
          font-size: 18px;
          font-weight: 100;
          width: fit-content;
        }
        p {
          margin: 0;
          font-size: 14px;
        }

        .shape_cards {
          overflow-x: auto;
          scroll-snap-type: x mandatory;
        }

        .shape_content {
          scroll-snap-align: start;
          flex: 0 0 auto;
        }
      }

      .text_test {
        top: 100px;
        left: 30px;
        width: 210px;
        p {
          margin: 0;
          font-family: $fontex_Josefin, sans-serif;
          font-size: 12px;
          color: #f8f5ec;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .main__container {
    padding-left: 0;
  }

  .shape_cards {
    justify-content: center;
  }
}
