html,
body {
  height: auto;
  overflow-y: auto;
}

/* .home {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.desktop-menu {
  position: sticky;
  top: 0;
  z-index: 100;
}
.content {
  background: #042639;
  min-height: 100vh;
}

.app-footer {
  flex: 0 0 auto;
}

@media (max-width: 1200px) {
  .layout {
    min-height: 100%;
  }
}
@media (max-width: 920px) {
  .layout-content {
    padding-bottom: 130px;
  }
}
 */

.home {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  /* mobile safe viewport */
  min-height: 100dvh; /* modern */
  min-height: 100vh; /* fallback */
}

.desktop-menu {
  position: sticky;
  top: 0;
  z-index: 100;
}

.content {
  background: #042639;
  flex: 1 1 auto; /* nimmt den Restplatz */
  min-height: 0; /* wichtig, damit es korrekt rechnen kann */
}

.app-footer {
  flex: 0 0 auto;
}
