.layout-content {
  max-width: 1214px; // oder 1440px – dein Design
  margin: 0 auto; // zentriert horizontal
  padding: 0 24px; // Abstand auf Mobile
  background: #262e34;
}

@media (max-width: 768px) {
  .layout-content {
    padding: 0 16px;
  }
}
