@use '@angular/material' as mat;

$BG-color_munu: #89bcd9;

/* =========================
   Fonts
========================= */

@font-face {
  font-display: swap;
  font-family: 'Anta';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/anta-v1-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/josefin-sans-v34-latin-regular.woff2') format('woff2');
}

$fontex_Anta: 'Anta';
$fontex_Josefin: 'Josefin Sans';

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: #262e34;
  color-scheme: dark;
  font-family: $fontex_Josefin;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}
