$font-anta: 'Anta';
$font-josefin: 'Josefin Sans';

.logo_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100px;
  cursor: pointer;
}

.logo {
  width: 100px;
  height: 50px;
  position: relative;
}

.logo-text {
  position: absolute;
  top: 45px;
}
.logo-name {
  font-family: 'Anta';
  font-size: 16px;
  color: #f8f5ec;
  padding-left: 12px;
}

.logo-role {
  font-family: 'Josefin Sans';
  font-size: 16px;
  color: #262e34;
  padding-left: 10px;
}
